{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h4 class="mb-4">Novfeed</h4>
                <p>Revolutionizing food systems by converting food waste into sustainable, high-quality protein for aquaculture and organic fertilizer, driving food security and environmental sustainability.</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="mb-4">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="{% url 'home' %}">Home</a></li>
                    <li class="mb-2"><a href="{% url 'about' %}">About Us</a></li>
                    <li class="mb-2"><a href="{% url 'products' %}">Products</a></li>
                    <li class="mb-2"><a href="{% url 'news' %}">News</a></li>
                    <li class="mb-2"><a href="{% url 'contact' %}">Contact Us</a></li>                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="mb-4">Contact Us</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> Tanzania</li>
                    <li class="mb-2"><i class="fas fa-phone me-2"></i>255 693 438 663</li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> info@Novfeed.com</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">Follow Us</h5>
                <div class="d-flex">
                    <a href="https://x.com/Novfeed_tz?s=0" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/novfeed_tz/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/novfeed/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/NovFeed?_rdc=1&_rdr#" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">© 2025 Novfeed. All Rights Reserved.</p>
            </div>
        </div>
    </div>

</footer>